html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/background5.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    height: 100%;
}

canvas {
    background-color: black;
    border-radius: 10px;
    display: block;
}

h1 {
    font-size: 60px;
    letter-spacing: 4px;
    color: rgb(255, 132, 0);
    /* text-shadow: 6px 5px 5px rgba(0, 0, 0); */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1),
        -2px -2px 2px rgba(0, 0, 0, 1),
        2px -2px 2px rgba(0, 0, 0, 1),
        -2px 2px 2px rgba(0, 0, 0, 1);
}

#startButton {
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 132, 0);
    cursor: pointer;
    font-size: 30px;
    border: none;
    box-shadow: 0px 0px 10px #efb91fb3;
    position: absolute;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 44%;
}

#startButton:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 75px #efb81f;
}

.mobileButtons {
    /* justify-content: end; */
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.mobileButtons img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.mobileButtonsTop {
    justify-content: end;
    display: flex;
}

.mobileButtonsBottom {
    justify-content: space-between;
    display: flex;
}

.mobileButtonsBottom img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#leftButton {
    margin-left: 10px;
}

.buttonBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.helpButton {
    cursor: pointer;
    background-color: rgb(255, 132, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.helpButton img {
    height: 40px;
    width: 40px;
}

.helpButton:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 75px #efb81f;
}

#stopSoundButton {
    cursor: pointer;
    background-color: rgb(255, 132, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#stopSoundButton img {
    height: 40px;
    width: 40px;
}

#stopSoundButton:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 75px #efb81f;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popupContent {
    background-color: rgb(255, 132, 0);
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    letter-spacing: 2px;
}

#looseGame {
    background-image: url('./img/9_intro_outro_screens/game_over/game over.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#startGame {
    background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#winGameInfos {
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(255, 132, 0);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    top: 80%;
    bottom: 5%;
    right: 20%;
    left: 20%;
}

#fullscreen {
    position: relative;
}

.fullscreen {
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 132, 0);
    cursor: pointer;
    font-size: 30px;
    border: none;
    box-shadow: 0px 0px 10px #efb91fb3;
}

.fullscreen:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 75px #efb81f;
}

.d-none {
    display: none!important; 
    position: relative;
}


.d-flex {
    display: flex;
}

.flex-direction-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.flex-direction-row h2 {
    margin-right: 20px;
}

#turnMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 132, 0);
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
}

@font-face {
    font-family: 'zabras';
    src: url('./fonts/zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* smarthphose adjustments */
@media only screen and (max-width: 853px) {
    canvas {
        width: 100%;
    }

    #buttonBox {
        display: none;
    }
}

@media (min-width: 853px) {
    .mobileButtons {
        display: none;
    }
    #turnMobile {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    #headline {
        display: none;
    }

    #fullscreenButton {
        display: none;
    }

    #winGameInfos {
        font-size: 16px;
    }

    #buttonBox {
        display: none;
    }

    #turnMobile {
        display: none;
    }

    .popupContent {
        background-color: #efb81f;
        position: absolute;
        font-size: 15px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(0, 0);
        padding: 0;
        border-radius: 0;
        letter-spacing: 1px;
    }
}